html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: #fff;
    background-color: #000;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 73px;
}

h1, h2, h3, p {
    margin: 0;
}

.orange-text {
    color: #f66c41;
}

.header {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 1136px;
    padding-top: 105px;
}

.header__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
}

.content {
    padding: 128px 0 104px;
}

.content__text {
    color:#bcbbbb;
    margin-bottom: 90px;
}

.content__text span {
    text-decoration: line-through;
}

.content__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    max-width: 550px;
    margin-bottom: 90px;
}

.content__list-title {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
}

.content__list {
    font-weight: 500;
    margin-bottom: 90px;
}

.content__title-text {
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    margin-bottom: 20px;
}

.content__text-main {
    max-width: 811px;
    margin-bottom: 90px;
}

.content__link {
    color: #F66C41;
    font-weight: 500;
}